#carouselExampleAutoplaying img{
 filter: brightness(45%);
 min-width: fit-content;
}

/* #carouselExampleIndicators{
 filter: brightness(45%);
  min-width: fit-content;
  height: 80vh;
} */

.test{
 background-color: green;
 height: 100vh;
}